<template>
  <div>
    <div class="field">
      <label class="label">Company Name</label>
      <div class="control">
        <input
          name="company"
          class="input"
          type="text"
          placeholder="..."
          @change="handlerChange"
          :value="form.company"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Position</label>
      <div class="control">
        <input
          name="position"
          class="input"
          type="text"
          placeholder="position"
          @change="handlerChange"
          :value="form.position"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea
          name="description"
          class="textarea"
          placeholder="type something what can you do"
          @change="handlerChange"
          :value="form.description"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Logo</label>
      <div class="control">
        <input
          name="logo"
          class="input"
          type="text"
          placeholder="url only"
          @change="handlerChange"
          :value="form.logo"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Date</label>
      <div class="control">
        <input
          name="date"
          class="input"
          type="text"
          placeholder="10/10/18"
          @change="handlerChange"
          :value="form.date"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: {
        company: "",
        description: "",
        logo: "",
        position: "",
        date: 0
      }
    }
  },
  methods: {
    handlerChange({ target: { name, value } }) {
      this.form = {
        ...this.form,
        [name]: value
      };
      this.$emit("onChange", this.form);
    }
  }
};
</script>

