<template>
  <div class="box">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img :src="data.logo" :alt="data.company">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{data.company}}</strong>
            <br>
            <small>Date of Work: {{data.date}}</small>
            <br>
            <strong>Position:</strong>
            {{data.position}}
            <br>
            <strong>Description:</strong>
            Description: {{data.description}}
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: {
        company: "",
        description: "",
        logo: "",
        position: "",
        date: 0
      }
    }
  }
};
</script>
