<template>
  <div>
    <div class="field">
      <label class="label">Event Name</label>
      <div class="control">
        <input
          name="name"
          class="input"
          type="text"
          placeholder="ktb"
          @change="handlerChange"
          :value="form.name"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea
          name="description"
          class="textarea"
          placeholder="type something what can you do"
          @change="handlerChange"
          :value="form.description"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Logo</label>
      <div class="control">
        <input
          name="logo"
          class="input"
          type="text"
          placeholder="url only"
          @change="handlerChange"
          :value="form.logo"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Git</label>
      <div class="control">
        <input
          name="git"
          class="input"
          type="text"
          placeholder="url only"
          @change="handlerChange"
          :value="form.git"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input
          name="image"
          class="input"
          type="text"
          placeholder="url only"
          @change="handlerChange"
          :value="form.image"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Date</label>
      <div class="control">
        <input
          name="date"
          class="input"
          type="text"
          placeholder="10/10/18"
          @change="handlerChange"
          :value="form.date"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: {
        name: "",
        description: "",
        logo: "",
        git: "",
        date: 0,
        image: ""
      }
    }
  },
  methods: {
    handlerChange({ target: { name, value } }) {
      this.form = {
        ...this.form,
        [name]: value
      };
      this.$emit("onChange", this.form);
    }
  }
};
</script>
