<template>
  <div>
    <div :class="classActiveModal()">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <div class="field">
            <label class="label">Event Name</label>
            <div class="control">
              <input
                name="name"
                class="input"
                type="text"
                placeholder="ktb"
                @change="handlerChange"
                :value="form.name"
              >
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea
                name="description"
                class="textarea"
                placeholder="type something what can you do"
                @change="handlerChange"
                :value="form.description"
              ></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label">Logo</label>
            <div class="control">
              <input
                name="logo"
                class="input"
                type="text"
                placeholder="url only"
                @change="handlerChange"
                :value="form.logo"
              >
            </div>
          </div>
          <div class="field">
            <label class="label">Git</label>
            <div class="control">
              <input
                name="git"
                class="input"
                type="text"
                placeholder="url only"
                @change="handlerChange"
                :value="form.git"
              >
            </div>
          </div>
          <div class="field">
            <label class="label">Image</label>
            <div class="control">
              <input
                name="image"
                class="input"
                type="text"
                placeholder="url only"
                @change="handlerChange"
                :value="form.image"
              >
            </div>
          </div>
          <div class="field">
            <label class="label">Date</label>
            <div class="control">
              <input
                name="date"
                class="input"
                type="text"
                placeholder="10/10/18"
                @change="handlerChange"
                :value="form.date"
              >
            </div>
          </div>
          <button class="button is-success" @click="sendData">Submit</button>
          {{" "}}
          <button class="button is-danger" @click="toggle">Cancel</button>
        </div>
      </div>
      <button class="modal-close is-large" @click.prevent="toggle" aria-label>sss</button>
    </div>
    <button class="button is-primary" @click.prevent="toggle">Add</button>
  </div>
</template>

<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        name: "",
        description: "",
        logo: "",
        git: "",
        date: 0,
        image: ""
      },
      isOpen: false
    };
  },
  methods: {
    classActiveModal() {
      return [
        "modal",
        {
          "is-active": this.isOpen
        }
      ];
    },
    toggle() {
      this.isOpen = !this.isOpen;
      this.$emit("toggle", this.isOpen);
    },
    handlerChange({ target: { name, value } }) {
      this.form = {
        ...this.form,
        [name]: value
      };
    },
    sendData() {
      this.$emit("handlerData", this.form);
      this.form = {
        name: "",
        description: "",
        logo: "",
        git: "",
        date: 0,
        image: ""
      };
    }
  }
};
</script>

<style>
.button.is-primary {
  margin-left: 45%;
}
</style>
