<template>
  <div class="card large">
    <div class="card-image">
      <figure class="image">
        <img :src="data.image" alt="Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img :src="data.logo" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 no-padding">{{data.name}}</p>
          <p>
            <!-- <span class="title is-6">
              <a href="http://twitter.com/#">@twitterid</a>
            </span>-->
          </p>
          <p class="subtitle is-6">Date: {{data.date}}</p>
        </div>
      </div>
      <div class="content">
        {{data.description}}
        <div class="background-icon">
          <span class="icon-twitter"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: {
        name: "",
        description: "",
        logo: "",
        git: "",
        date: 0,
        image: ""
      }
    }
  }
};
</script>
