<template>
  <div class="section">
    <Title :title="`Skills`" :subTitle="`about my knowledge and skills`"/>
    <div class="box">
      <div class="columns">
        <div class="column">
          <Table
            :data="skills"
            v-if="skills.length != 0"
            @changedData="updated"
            @keyDelete="deleted"
          />
          <div v-else class="section">
            <h3 class="subtitle">Have No Skill</h3>
          </div>
          <Modal :isOpen="isOpen" :sendData="createData" @closeModal="closeModal">
            <Form :form="form" @onChange="form = $event"/>
            <button slot="create" class="button is-success" @click.prevent="createData">Create</button>
          </Modal>
        </div>
        <div class="column">
          <Logo :data="skills"/>
        </div>
      </div>
      <button class="button is-info" @click.prevent="toggle">Add</button>
    </div>
  </div>
</template>

<script>
import Table from "./components/Table";
import Logo from "./components/LogoSkill";
import Title from "../../common/Title";
import Modal from "../../common/Modal";
import db from "../../common/firebase";
import Form from "./components/Form";

export default {
  components: {
    Table,
    Logo,
    Title,
    Modal,
    Form
  },
  data() {
    return {
      skills: [],
      isOpen: false,
      form: {
        name: "",
        description: "",
        logo: "",
        git: "",
        level: 0
      }
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },
    closeModal() {
      this.isOpen = false;
    },
    createData() {
      db.create("Skill/", this.form)
        .then(res => {
          console.log(res);
          this.isOpen = false;
        })
        .catch(err => console.error(err));
      this.form = {};
    },
    updated(attrs) {
      db.update("Skill", attrs.key, attrs).then(() => {
        this.isOpen = false;
      });
    },
    deleted(key) {
      db.destroy("Skill", key).then(() => console.log("Deleted"));
    }
  },
  created() {
    db.other.ref("Skill").on("value", snapShot => {
      const data = snapShot.val();
      this.skills = [];

      const pullOfData = Object.keys(data).map(key => ({
        ...data[key],
        key
      }));

      this.skills = pullOfData;
    });
  }
};
</script>

<style>
h3.subtitle {
  text-align: center;
}
</style>

