<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree|Mukta" rel="stylesheet">
     <style>
       body{
        font-family: 'Mukta', sans-serif;
        font-family: 'Bai Jamjuree', sans-serif;
        background: #041221;
       }
       #flow span {
            display: block;
            width: 300vw;
            height: 300vw;
            position: absolute;
            top: -250vw;
            left: -10vw;
            border-radius: 50vw;
            opacity: 0.6;
            }
            .flow-1 {
            background: #3281ff;
            -webkit-animation: rotating 20s linear infinite;
            -moz-animation: rotating 20s linear infinite;
            -ms-animation: rotating 20s linear infinite;
            -o-animation: rotating 20s linear infinite;
            animation: rotating 20s linear infinite;
            }
            .flow-2 {
            background: #f442ee;
            position: absolute;
            -webkit-animation: rotating 15s linear infinite;
            -moz-animation: rotating 15s linear infinite;
            -ms-animation: rotating 15s linear infinite;
            -o-animation: rotating 15s linear infinite;
            animation: rotating 15s linear infinite;
            }
            .flow-3 {
            background: #42eef4;
            position: absolute;
            -webkit-animation: rotating 7s linear infinite;
            -moz-animation: rotating 7s linear infinite;
            -ms-animation: rotating 7s linear infinite;
            -o-animation: rotating 7s linear infinite;
            animation: rotating 7s linear infinite;
            }

            .flow-4{
            background: wheat;
            position: absolute;
            -webkit-animation: rotating  18s linear infinite;
            -moz-animation: rotating  18s linear infinite;
            -ms-animation: rotating  18s linear infinite;
            -o-animation: rotating 18s linear infinite;
            animation: rotating  18s linear infinite;
            }

            @-webkit-keyframes rotating {
            from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            }
            to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
            }
            }
            @keyframes rotating {
            from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            }
            to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
            }
            }
            .rotating {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
            -ms-animation: rotating 2s linear infinite;
            -o-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;
            }
     </style>
    <title>resume</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but resume doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
