<template>
  <div class="section">
    <div class="hero-body">
      <div class="columns">
        <div class="column">
          <figure class="image image is-square rounded">
            <img class="is-rounded" src="https://www.w3schools.com/howto/img_avatar.png">
          </figure>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title sha">ประวัติส่วนตัว</h1>
            <div class="columns">
              <div class="column is-one-fifth">
                <h2 class="subtitle">ชื่อจริง</h2>
              </div>
              <div class="column">
                <input type="text" class="input is-primary" value="อนิรุทธิ์" readonly>
              </div>
              <div class="column is-one-fifth">
                <h2 class="subtitle">นามสกุล</h2>
              </div>
              <div class="column">
                <input type="text" class="input is-primary" value="คำชาย" readonly>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-fifth">
                <h2 class="subtitle">ที่อยู่</h2>
              </div>
              <div class="column">
                <textarea class="textarea is-primary" readonly>หมู่บ้าน พฤกษาวิลล์ หมู่ 6 
ถนน เสมาฟ้าคราม ตำบล คูคต
อำเภอ ลำลูกกา จังหวัด ปทุมธานี
12130</textarea>
              </div>
            </div>
            <div class="columns">
              <div class="column"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.sha {
  text-shadow: 3px 2px wheat;
}
</style>
