<template>
  <div class="section">
    <button class="button is-info" @click.prevent="toggle">Add</button>
    <Title :title="`Portfolio`" :subTitle="`my activities`"/>
    <Modal :isOpen="isOpen" :sendData="createData" @closeModal="closeModal">
      <Form :form="form" @onChange="form = $event"/>
    </Modal>
    <div class="columns is-multiline">
      <div class="column is-one-third" v-for="p in ports" :key="p.key">
        <Card :data="p"/>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./components/PortCard";
import Title from "../../common/Title";
import Modal from "../../common//Modal";
import db from "../../common/firebase";
import Form from "./components/Form";
export default {
  components: {
    Card,
    Title,
    Modal,
    Form
  },
  data() {
    return {
      ports: [],
      isOpen: false,
      form: {
        name: "",
        description: "",
        logo: "",
        git: "",
        date: 0,
        image: ""
      }
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },
    closeModal() {
      this.isOpen = false;
    },
    createData() {
      db.create("Portfolio/", this.form)
        .then(res => {
          console.log(res);
          this.isOpen = false;
        })
        .catch(err => console.error(err));
    }
  },
  created() {
    db.other.ref("Portfolio").on("value", snapShot => {
      const data = snapShot.val();
      this.ports = [];
      const pullOfData = Object.keys(data).map(key => ({
        ...data[key],
        key
      }));

      this.ports = pullOfData;
    });
  }
};
</script>

<style>
</style>
