<template>
  <div>
    <div class="field">
      <label class="labal">Type somethig what about you Interested</label>
      <div class="control">
        <textarea
          name="description"
          class="textarea"
          placeholder="type something what can you do"
          @change="handlerChange"
          :value="form.description"
        ></textarea>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: {
        description: ""
      }
    }
  },
  methods: {
    handlerChange({ target: { name, value } }) {
      console.log(value, name);
      this.form = {
        ...this.form,
        [name]: value
      };
      this.$emit("onChange", this.form);
    }
  }
};
</script>
