<template>
  <div class="box">
    <Modal :isOpen="isOpen" :sendData="createData" @closeModal="isOpen = $event">
      <Form :form="form" @onChange="form = $event"/>
    </Modal>
    <div class="content">
      <h1 class="title">ความสนใจ</h1>
      <div class="t" data-content="OR"></div>
      <p v-for="i in interests" :key="i.description">{{i.description}}</p>
    </div>
  </div>
</template>
<script>
import Form from "./FormIn";
import Modal from "../../../common/Modal";
import db from "../../../common/firebase.js";

export default {
  components: {
    Form,
    Modal
  },
  data() {
    return {
      interests: [],
      isOpen: false,
      form: {
        description: ""
      }
    };
  },
  methods: {
    createData() {
      console.log(this.form);
      db.create("Interested/", this.form)
        .then(res => {
          console.log(res);
          this.isOpen = false;
        })
        .catch(err => console.error(err));
    }
  },
  created() {
    db.other.ref("Interested").on("value", snapShot => {
      const data = snapShot.val();
      this.interests = [];

      const pullOfData = Object.keys(data).map(key => ({
        ...data[key],
        key
      }));

      this.interests = pullOfData;
    });
  }
};
</script>

<style>
.t {
  display: block;
  position: relative;
  border-top: 0.1rem solid #dbdbdb;
  height: 0.1rem;
  margin: 2rem 0;
  text-align: center;
}
</style>