<template>
  <div class="section">
    <!-- <Title /> -->
    <div class="columns">
      <div class="column">
        <Interested/>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h1 class="title">ติดต่อ</h1>
            <div class="t" data-content="OR"></div>
            <p>ติดต่อ อะไรดี</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Title from "../../common/Title";
import Interested from "./components/Interested";

export default {
  components: {
    Title,
    Interested
  }
};
</script>

