<template>
  <div>
    <div class="field">
      <label class="label">Skill Name</label>
      <div class="control">
        <input
          name="name"
          class="input"
          type="text"
          placeholder="Nodejs"
          @change="handlerChange"
          :value="form.name"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea
          name="description"
          class="textarea"
          placeholder="type something what can you do"
          @change="handlerChange"
          :value="form.description"
        ></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Logo</label>
      <div class="control">
        <input
          name="logo"
          class="input"
          type="text"
          placeholder="url only"
          @change="handlerChange"
          :value="form.logo"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Git</label>
      <div class="control">
        <input
          name="git"
          class="input"
          type="text"
          placeholder="url only"
          @change="handlerChange"
          :value="form.git"
        >
      </div>
    </div>
    <div class="field">
      <label class="label">Level %</label>
      <div class="control">
        <div class="select">
          <select name="level" @change="handlerChange" :value="form.level">
            <option v-for="s in score" :key="s">{{s}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: {
        name: "",
        description: "",
        logo: "",
        git: "",
        level: 0
      },
      required: false
    }
  },
  data() {
    return {
      score: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      data: {}
    };
  },
  methods: {
    handlerChange({ target: { name, value } }) {
      if (this.form != {}) {
        this.data = {
          ...this.data,
          [name]: value
        };
      } else {
        this.data = this.form;
      }
      this.data = {
        ...this.data,
        [name]: value
      };
      this.$emit("onChange", this.data);
    }
  },
  mounted() {
    this.data = this.form;
  }
};
</script>
