<template>
  <div class="section">
    <div class="row2">
      <div class="column2">
        <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png">
        <img src="https://cdn-images-1.medium.com/max/1200/1*VeM-5lsAtrrJ4jXH96h5kg.png">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/MySQL.svg/1200px-MySQL.svg.png"
        >
        <img src="https://cdn-images-1.medium.com/max/1600/1*wqYF-8Dmh7LhtLkKfERc3Q.png">
      </div>
      <div class="column2">
        <img src="https://cdn-images-1.medium.com/max/1600/1*ipwpqQrHz0Lkd_5setXQCQ.png">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/2000px-R_logo.svg.png"
        >
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png"
        >
      </div>
      <div class="column2">
        <img src="https://www.python.org/static/opengraph-icon-200x200.png">
        <img src="http://seenual.com/wp-content/uploads/2016/02/2000px-Git_icon.svg_-300x300.png">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: {
        logo: "",
        git: ""
      }
    }
  }
};
</script>


<style>
.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 20%;
  margin-left: 20%;
}

/* Create four equal columns that sits next to each other */
.column2 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
