<template>
  <div class="section">
    <table class="table">
      <thead>
        <tr>
          <th>
            <p class="subtitle is-5">Skills</p>
          </th>
          <th>
            <p class="subtitle is-5">Description</p>
          </th>
          <th>
            <p>Level</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="s in data" :key="s.key">
          <th>{{s.name}}</th>
          <td>{{s.description}}</td>
          <td>
            <progress class="progress is-info" :value="s.level" max="100">{{s.level}} saddasd</progress>
          </td>
          <Modal :isOpen="isOpen" @closeModal="closeModal">
            <Form :form="s" @onChange="handlerChangeForm"/>
            <button slot="edit" class="button is-success" @click.prevent="passChangedDataTo">Submit</button>
          </Modal>
          <div style="display: flex;">
            <button class="button is-warning" @click="toggle">Edit</button>
            <button class="button is-danger" @click="passKeyForDelete(s.key)">Del</button>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Modal from "../../../common/Modal";
import Form from "./Form";
export default {
  components: {
    Modal,
    Form
  },
  props: {
    data: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      isOpen: false,
      dataChanged: {}
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },
    closeModal() {
      this.isOpen = false;
    },
    handlerChangeForm(changed) {
      this.dataChanged = changed;
    },
    passChangedDataTo() {
      this.closeModal();
      this.$emit("changedData", this.dataChanged);
    },
    passKeyForDelete(key) {
      this.$emit("keyDelete", key);
    }
  }
};
</script>

<style>
</style>
