<template>
  <div class="section">
    <button class="button is-info" @click.prevent="toggle">Add</button>
    <Title :title="`Work experience`" :subTitle="`my work in the past`"/>
    <Modal :isOpen="isOpen" :sendData="createData" @closeModal="closeModal">
      <Form :form="form" @onChange="form = $event"/>
    </Modal>
    <div class="columns">
      <div class="column" v-for="w in works" :key="w.key">
        <Card :data="w"/>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./components/WorkedCard";
import Title from "../../common/Title";
import db from "../../common/firebase";
import Modal from "../../common/Modal";
import Form from "./components/Form";

export default {
  components: {
    Card,
    Title,
    Modal,
    Form
  },
  data() {
    return {
      works: [],
      isOpen: false,
      form: {
        company: "",
        description: "",
        logo: "",
        position: "",
        date: 0
      }
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    },
    closeModal() {
      this.isOpen = false;
    },
    createData() {
      db.create("Worked/", this.form)
        .then(res => {
          console.log(res);
          this.isOpen = false;
        })
        .catch(err => console.error(err));
    }
  },
  created() {
    db.other.ref("Worked").on("value", snapShot => {
      const data = snapShot.val();
      this.works = [];
      const pullOfData = Object.keys(data).map(key => ({
        ...data[key],
        key
      }));

      this.works = pullOfData;
    });
  }
};
</script>

