<template>
  <section class="section">
    <div class="container">
      <div id="app">
        <Wave/>
        <div class="section above">
          <Header/>
          <Info/>
          <Skill/>
          <Worked/>
          <Portfolio/>
          <Last/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Wave from "./common/Wave";
import Header from "./common/Header";
import Info from "./modules/Information";
import Skill from "./modules/Skill";
import Worked from "./modules/WorkHistory";
import Portfolio from "./modules/Portfolio";
import Last from "./modules/ContactInterested";
export default {
  name: "app",
  components: {
    Wave,
    Header,
    Info,
    Skill,
    Worked,
    Portfolio,
    Last
  }
};
</script>

<style>
.above {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
}
</style>
