<template>
  <div class="section">
    <section class="hero is-bold is-light">
        <div class="hero-body">
            <div class="container">
            <h1 class="title">
                Resume Online
            </h1>
            <h2 class="subtitle">
                Anirut Kamchai
            </h2>
            </div>
        </div>
    </section>
  </div>

</template>
