<template>
  <div :class="classActiveModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <slot/>
        <slot name="create"/>
        <slot name="edit"/>
        {{" "}}
        <button class="button is-danger" @click="closeModal">Cancel</button>
      </div>
    </div>
    <button class="modal-close is-large" @click.prevent="closeModal" aria-label>sss</button>
  </div>
</template>

<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isNotEdit: this.$slots.edit
    };
  },
  methods: {
    closeModal() {
      this.$emit("closeModal", false);
    }
  },
  computed: {
    classActiveModal() {
      return [
        "modal",
        {
          "is-active": this.isOpen
        }
      ];
    }
  }
};
</script>
