<template>
  <div class="columns">
    <div class="column is-three-fifths"></div>
    <div class="column">
      <section class="hero is-bold is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">{{title}}</h1>
            <h2 class="subtitle">{{subTitle}}</h2>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Section"
    },
    subTitle: {
      type: String,
      default: "no"
    }
  }
};
</script>

