<template>
   <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
            <span class="flow-4"></span>

        </div>
   </div>
</template>
